* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
html {
    scroll-behavior: smooth;
}
body {
    background:  #0f045f;
    height: 100vh;
}
#Navbar {
    background: rgba(255, 255, 255, 0.06);
    box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.1);
}